.project_carousel_parent{
    height: 80vh;
   
    display: flex;
    flex-direction: column;
    gap:45px;
 
}




@media only screen and (max-width:1050px){
    /* .project_carousel_parent{
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        gap:45px;
     
    } */


    .project_carousel_parent {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        gap: 2%;
        justify-content: center;
    }
    
}