.byline_text{
    width: 388px;
    height: 24px;
    left: 803px;
    top: 293px;
    text-align: left;
    font-family: 'Qualion';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
      
}