.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{

  --accent-color-1: #0C4BED;
  --accent-color-2: #0CD2ED;
  --accent-color-3: #1673FF;
  --theme-gradient-1: linear-gradient(256.31deg, var(--accent-color-1)-6.18%, var(--accent-color-2) 113.91%);
  --theme-gradient-2: linear-gradient(111.03deg, var(--accent-color-1) 15.71%, var(--accent-color-2)198.24%);
}


.large_heading_mp {
  font-family: "ModernPrestige";
 
 }

 .alternate_heading_mp {
	font-family: "Qualion";
   
   }

   .alternate_heading_mp {
	font-family: "MBFLigioneRegular";
   
   }
  
 .overlay_holder{
	position: absolute;
	left: 0px;
 }