.App {
  text-align: center;
}

:root{

  --accent-color-1: #0C4BED;
  --accent-color-2: #0CD2ED;
  --accent-color-3: #1673FF;
  --theme-gradient-1: linear-gradient(256.31deg, var(--accent-color-1)-6.18%, var(--accent-color-2) 113.91%);
  --theme-gradient-2: linear-gradient(111.03deg, var(--accent-color-1) 15.71%, var(--accent-color-2)198.24%);
}


.large_heading_mp {
  font-family: "ModernPrestige";
 
 }