.home_hero_section{
    background-color: black;
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.home_hero_contents{
    width: 1000px;
    height: 826px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (max-width:1050px){
    .home_hero_contents{
        overflow: hidden;
    }
}