.home_hero_section{
  

    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    
}

.home_hero_contents{
    width: 1000px;
    height: 826px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_hero_right_items{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
}
@media only screen and (max-width:1050px){
    .home_hero_contents{
        overflow: hidden;
        flex-direction: column-reverse;
        margin-top: 15px;
    }
}