.gallery_overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.98);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.gallery_content .exit_button {
    top: 5%;
}
.gallery_content{
    width: 100%;
    max-width: 1155px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25vh;
    height: 100vh;
}

.gallery_content .gallery_left_items{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.gallery_content .gallery_right_items{
    width: 50%;
    height: 100%;
}

.gallery_content .styled_image_display_container{
    width: 100%;
    max-width: 573px;
}