.secondary_theme_button{

    box-sizing: border-box;
    cursor: pointer;
    /* Auto layout */
    width: 132px;
    height: 40px;

    font-family: 'Qualion';
    font-size: 15px;
    line-height: 24px;
    padding-bottom: 3px;
    
    background: linear-gradient(256.31deg, #0C4BED -6.18%, #0CD2ED 113.91%);
    border: 0.5px solid #1673FF;
    border-radius: 35px;

    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    gap: 5px;
    transition: all .2s ease-in-out;
}


.secondary_theme_button:hover{
    background: white;
    color: black;
}

.button_icon{
    height: 24px;
    width: 24px;
  
    
}