.project_overlay_button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 19px 3px 19px;
    gap: 10px;

 
 
    color: white;
    cursor: pointer;
    transition: all .15s ease-in-out;
    border: 0px solid white;


    padding: 3px 10px 8px 19px;
    gap: 10px;

    position: relative;

    height: 30px;

    font-family: 'Qualion';
    background: linear-gradient(256.31deg, rgba(12, 75, 237, 0.15) -6.18%, rgba(12, 210, 237, 0.15) 113.91%);
    border-radius: 23.0682px;
}


.project_overlay_button:hover{
    background-color: white;
    color: black;
}

.button_icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_icon div svg{
    color: black;
    height: 21px;
    width: 21px;
    padding-top: 3px;
}


.project_overlay_button:hover .button_icon div svg *{

    fill: black;
}
