.project_overlay_parent{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
 
}

.project_overlay_contents{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80vw;
    height: 80vh;
}

.project_overlay_close_button{
    color: white;
    cursor: pointer;
    align-self: flex-start;
    justify-self: flex-end;
    background-color: beige;
}