.project_overlay_parent{
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_overlay_contents{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80vw;
    height: 80vh;
    gap:15%;
}

.project_overlay_close_button{
    color: white;
    cursor: pointer;
    align-self: flex-start;
    justify-self: flex-end;
    font-size: 45px;
    position: absolute;
  
}

.project_overlay_close_button:hover{
    color:var(--accent-color-2);
}